node-red/flows_Eddy1.json
[{"id":"4802782f.a37118","type":"tab","label":"outlet control"},{"id":"aec1ad39.2fa4","type":"tab","label":"Outlet Status Change"},{"id":"f80e3545.cd3708","type":"tab","label":"Flow 1"},{"id":"2e2da0b0.5b87e","type":"nodebot","z":"","name":"Local","username":"","password":"","boardType":"galileo-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"5808177d.cde9b8","type":"mqtt-broker","z":"","broker":"192.168.2.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"78c72509.e9c06c","type":"websocket-listener","z":"","path":"/ws/outlet/control","wholemsg":"false"},{"id":"2feb7504.caf11a","type":"websocket-listener","z":"","path":"/ws/status","wholemsg":"false"},{"id":"73eefd6a.7579b4","type":"websocket-listener","z":"","path":"/ws/outlet2","wholemsg":"false"},{"id":"b80e2c1a.7887b","type":"mongodb","z":"","hostname":"192.168.2.40","port":"27017","db":"UpcycleIt","name":"UpcycleIt on Snowbank"},{"id":"f59d21fb.4cc35","type":"websocket-listener","z":"","path":"/ws/outlet3","wholemsg":"false"},{"id":"cf70ad78.3914d","type":"websocket-listener","z":"","path":"/ws/outlet4","wholemsg":"false"},{"id":"c9437b87.9b55b8","type":"websocket-listener","z":"","path":"/ws/outlet5","wholemsg":"false"},{"id":"95b7022e.6acd8","type":"websocket-listener","z":"","path":"/ws/outlet6","wholemsg":"false"},{"id":"bf3f5b6f.75f5a8","type":"websocket-listener","z":"","path":"/ws/outlet7","wholemsg":"false"},{"id":"2b4ae781.ff7e18","type":"websocket-listener","z":"","path":"/ws/outlet/status","wholemsg":"false"},{"id":"26c02345.c1b4bc","type":"gpio out","z":"4802782f.a37118","name":"Outlet8","state":"OUTPUT","pin":"GP78","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":910.8887939453125,"y":99.20634460449219,"wires":[]},{"id":"aa892212.e2e0f","type":"gpio out","z":"4802782f.a37118","name":"Outlet7","state":"OUTPUT","pin":"GP41","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":941.4127082824707,"y":170.87300777435303,"wires":[]},{"id":"b6ec1e96.95af1","type":"gpio out","z":"4802782f.a37118","name":"Outlet4","state":"OUTPUT","pin":"GP15","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":1034.127040863037,"y":517.158763885498,"wires":[]},{"id":"8be48b72.6944e8","type":"gpio out","z":"4802782f.a37118","name":"Outlet3","state":"OUTPUT","pin":"GP49","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":1000.4443855285645,"y":593.6666202545166,"wires":[]},{"id":"42c23897.140718","type":"gpio out","z":"4802782f.a37118","name":"Outlet6","state":"OUTPUT","pin":"GP84","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":985.3651580810547,"y":230.61908149719238,"wires":[]},{"id":"8529a6c7.1ba218","type":"gpio out","z":"4802782f.a37118","name":"Outlet2","state":"OUTPUT","pin":"GP47","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":963.7301635742188,"y":667.9206142425537,"wires":[]},{"id":"a21c587b.4b0c98","type":"gpio out","z":"4802782f.a37118","name":"Outlet5","state":"OUTPUT","pin":"GP42","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":1011.9205703735352,"y":302.41275787353516,"wires":[]},{"id":"57a0bac0.6896a4","type":"gpio out","z":"4802782f.a37118","name":"Outlet1","state":"OUTPUT","pin":"GP45","i2cDelay":"0","i2cAddress":"","i2cRegister":"","outputs":0,"board":"2e2da0b0.5b87e","x":949.4285736083984,"y":731.7302169799805,"wires":[]},{"id":"a672f60b.487a58","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0006/control","qos":"2","broker":"5808177d.cde9b8","x":143.8888931274414,"y":315.5079574584961,"wires":[["db27dccc.50afe"]]},{"id":"abfbadaf.55c2e","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0005/control","qos":"2","broker":"5808177d.cde9b8","x":130.57146453857422,"y":377.76193046569824,"wires":[["db27dccc.50afe"]]},{"id":"42a0a5a2.4d738c","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0002/control","qos":"2","broker":"5808177d.cde9b8","x":203.7301254272461,"y":584.7937030792236,"wires":[["db27dccc.50afe"]]},{"id":"a2c037c2.746498","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0001/control","qos":"2","broker":"5808177d.cde9b8","x":247.38092803955078,"y":649.4920854568481,"wires":[["db27dccc.50afe"]]},{"id":"cb360c68.ffb9a","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0008/control","qos":"2","broker":"5808177d.cde9b8","x":188.50794982910156,"y":194.4444408416748,"wires":[["db27dccc.50afe"]]},{"id":"32014c34.628694","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0004/control","qos":"2","broker":"5808177d.cde9b8","x":129.2063751220703,"y":455.7777976989746,"wires":[["db27dccc.50afe"]]},{"id":"1dee7c97.666723","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0007/control","qos":"2","broker":"5808177d.cde9b8","x":156.11112213134766,"y":255.25397491455078,"wires":[["db27dccc.50afe"]]},{"id":"3ff28c8d.6adf34","type":"mqtt in","z":"4802782f.a37118","name":"","topic":"tower/outlet0003/control","qos":"2","broker":"5808177d.cde9b8","x":147.34922790527344,"y":520.2222318649292,"wires":[["db27dccc.50afe"]]},{"id":"534b59e2.b60cf8","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet1","state":"INPUT","samplingInterval":"300","pin":"GP45","board":"2e2da0b0.5b87e","x":55.555538177490234,"y":326.6666450500488,"wires":[["7452f35.fcaa90c"]]},{"id":"7452f35.fcaa90c","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":216.8888702392578,"y":342.88885974884033,"wires":[["7231870f.b83a08"]]},{"id":"dcb9ba6e.c6fe78","type":"websocket in","z":"4802782f.a37118","name":"","server":"78c72509.e9c06c","client":"","x":289.68255615234375,"y":134.4444284439087,"wires":[["db27dccc.50afe"]]},{"id":"db27dccc.50afe","type":"function","z":"4802782f.a37118","name":"OutletControl","func":"if (msg._session) {\n    var jMsg = JSON.parse(msg.payload);\n    console.log(jMsg);\n    var nMsg = { payload: \"0\" }\n    if (jMsg.state == \"on\")\n        nMsg.payload = \"1\";\n        \n    if (jMsg.outlet == \"outlet1\") {\n        return [null,null,null,null,null,null,null,nMsg];\n    }\n    if (jMsg.outlet == \"outlet2\") {\n        return [null,null,null,null,null,null,nMsg,null];\n    }\n    if (jMsg.outlet == \"outlet3\") {\n        return [null,null,null,null,null,nMsg,null,null];\n    }\n    if (jMsg.outlet == \"outlet4\") {\n        return [null,null,null,null,nMsg,null,null,null];\n    }\n    if (jMsg.outlet == \"outlet5\") {\n        return [null,null,null,nMsg,null,null,null,null];\n    }\n    if (jMsg.outlet == \"outlet6\") {\n        return [null,null,nMsg,null,null,null,null,null];\n    }\n    if (jMsg.outlet == \"outlet7\") {\n        return [null,nMsg,null,null,null,null,null,null];\n    }\n    if (jMsg.outlet == \"outlet8\") {\n        return [nMsg,null,null,null,null,null,null,null];\n    }\n}\n\nif (msg.topic) {\n    var topic = msg.topic;\n    \n    var nMsg = { payload: \"0\" }\n    if (msg.payload == \"ON\")\n        nMsg.payload = \"1\";\n        \n    if (topic == \"tower/outlet0001/control\") {\n        return [null,null,null,null,null,null,null,nMsg];\n    }\n    if (topic == \"tower/outlet0002/control\") {\n        return [null,null,null,null,null,null,nMsg,null];\n    }\n    if (topic == \"tower/outlet0003/control\") {\n        return [null,null,null,null,null,nMsg,null,null];\n    }\n    if (topic == \"tower/outlet0004/control\") {\n        return [null,null,null,null,nMsg,null,null,null];\n    }\n    if (topic == \"tower/outlet0005/control\") {\n        return [null,null,null,nMsg,null,null,null,null];\n    }\n    if (topic == \"tower/outlet0006/control\") {\n        return [null,null,nMsg,null,null,null,null,null];\n    }\n    if (topic == \"tower/outlet0007/control\") {\n        return [null,nMsg,null,null,null,null,null,null];\n    }\n    if (topic == \"tower/outlet0008/control\") {\n        return [nMsg,null,null,null,null,null,null,null];\n    }\n}","outputs":"8","noerr":0,"x":599.0476303100586,"y":409.6825256347656,"wires":[["26c02345.c1b4bc"],["aa892212.e2e0f"],["42c23897.140718"],["a21c587b.4b0c98"],["b6ec1e96.95af1"],["8be48b72.6944e8"],["8529a6c7.1ba218"],["57a0bac0.6896a4"]]},{"id":"7391fa6b.8bda54","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0001/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":965.7617530822754,"y":336.3650875091553,"wires":[]},{"id":"4d76c80f.d36e28","type":"mongodb out","z":"aec1ad39.2fa4","mongodb":"b80e2c1a.7887b","name":"status update","collection":"status","payonly":false,"upsert":true,"multi":false,"operation":"update","x":959.7777328491211,"y":947.666597366333,"wires":[]},{"id":"82ba430b.d7377","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet2","state":"INPUT","samplingInterval":"300","pin":"GP47","board":"2e2da0b0.5b87e","x":55,"y":393.6666736602783,"wires":[["83459271.e586b"]]},{"id":"83459271.e586b","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":212.66666412353516,"y":412.11111068725586,"wires":[["7231870f.b83a08"]]},{"id":"8e7a3ae0.93efc8","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0002/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":966.8728981018066,"y":395.0317726135254,"wires":[]},{"id":"cc7a2dcb.00b6","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet3","state":"INPUT","samplingInterval":"300","pin":"GP49","board":"2e2da0b0.5b87e","x":55,"y":470.4444465637207,"wires":[["d8978f88.b6269"]]},{"id":"d8978f88.b6269","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":218.88887405395508,"y":477.7777843475342,"wires":[["7231870f.b83a08"]]},{"id":"4d8e8a96.ad89c4","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0003/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":965.428539276123,"y":468.9206428527832,"wires":[]},{"id":"dde42501.7fa858","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet4","state":"INPUT","samplingInterval":"300","pin":"GP15","board":"2e2da0b0.5b87e","x":63.111106872558594,"y":552.3333148956299,"wires":[["11380f0b.a6fe81"]]},{"id":"11380f0b.a6fe81","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":208.00000762939453,"y":559.3333282470703,"wires":[["7231870f.b83a08"]]},{"id":"83b67fee.6aee7","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0004/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":969.9840660095215,"y":535.2539691925049,"wires":[]},{"id":"66a6e60d.3c95c8","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet5","state":"INPUT","samplingInterval":"300","pin":"GP42","board":"2e2da0b0.5b87e","x":58.55555725097656,"y":633.3333854675293,"wires":[["5ef67ce8.045ae4"]]},{"id":"5ef67ce8.045ae4","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":207.99999618530273,"y":630.2222003936768,"wires":[["7231870f.b83a08"]]},{"id":"92d0ef50.f7215","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0005/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":971.2063026428223,"y":607.4762058258057,"wires":[]},{"id":"7a035362.b2745c","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet6","state":"INPUT","samplingInterval":"300","pin":"GP84","board":"2e2da0b0.5b87e","x":56.222225189208984,"y":703.5556297302246,"wires":[["c9c0a88e.4c9ea8"]]},{"id":"c9c0a88e.4c9ea8","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":221.99999618530273,"y":701.8888282775879,"wires":[["7231870f.b83a08"]]},{"id":"2445efd5.fb12c","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0006/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":972.7618598937988,"y":675.1428852081299,"wires":[]},{"id":"151aa972.8dc2e7","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet7","state":"INPUT","samplingInterval":"300","pin":"GP41","board":"2e2da0b0.5b87e","x":64.44444274902344,"y":779.3333168029785,"wires":[["2c5e93df.ad027c"]]},{"id":"2c5e93df.ad027c","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":221.33332061767578,"y":767.777753829956,"wires":[["7231870f.b83a08"]]},{"id":"495b2e62.d1355","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0007/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":974.7618141174316,"y":734.9206008911133,"wires":[]},{"id":"21caba33.e3e1a6","type":"gpio in","z":"aec1ad39.2fa4","name":"Outlet8","state":"INPUT","samplingInterval":"300","pin":"GP78","board":"2e2da0b0.5b87e","x":61.66666793823242,"y":861.9999771118164,"wires":[["8394fd6a.c92a7"]]},{"id":"8394fd6a.c92a7","type":"rbe","z":"aec1ad39.2fa4","name":"","func":"rbe","gap":"","start":"","inout":"out","x":225.22220993041992,"y":851.5555400848389,"wires":[["7231870f.b83a08"]]},{"id":"c1ae9d38.dec14","type":"mqtt out","z":"aec1ad39.2fa4","name":"","topic":"tower/outlet0008/status","qos":"","retain":"","broker":"5808177d.cde9b8","x":979.4284858703613,"y":815.6983852386475,"wires":[]},{"id":"460757f6.416958","type":"websocket out","z":"aec1ad39.2fa4","name":"","server":"2b4ae781.ff7e18","client":"","x":974.2062225341797,"y":885.7143783569336,"wires":[]},{"id":"7231870f.b83a08","type":"function","z":"aec1ad39.2fa4","name":"WS Payload 1","func":"var GPIO = msg.topic;\n\n// State Set\nvar WSstate = \"off\";\nvar DBstate = \"off\";\nvar MQTTstate = \"OFF\"\nif (msg.payload == \"1\") {\n    WSstate = \"on\";\n    DBstate = \"on\";\n    MQTTstate = \"ON\";\n}\n\n// Control Set\nvar control = \"\";\nif (GPIO == \"GP45\") {\n    control = \"outlet1\";\n}\nif (GPIO == \"GP47\") {\n    control = \"outlet2\";\n}\nif (GPIO == \"GP49\") {\n    control = \"outlet3\";\n}\nif (GPIO == \"GP15\") {\n    control = \"outlet4\";\n}\nif (GPIO == \"GP42\") {\n    control = \"outlet5\";   \n}\nif (GPIO == \"GP84\") {\n    control = \"outlet6\";   \n}\nif (GPIO == \"GP41\") {\n    control = \"outlet7\";    \n}\nif (GPIO == \"GP78\") {\n    control = \"outlet8\";\n}\n\nvar WSmsg = { payload: [\n        {\n            control: control,\n            state: WSstate\n        }\n    ]\n};\n\nvar MQTTmsg = { payload: MQTTstate };\n\nvar DBmsg = {\n    query: { \n        device: \"tower00\", \n        control: control\n    },\n    payload: { \n        device: \"tower00\", \n        control: control,\n        state: DBstate\n    }\n};\n\n\n// Return values now!\nif (GPIO == \"GP45\") {\n    return [MQTTmsg,null,null,null,null,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP47\") {\n    return [null,MQTTmsg,null,null,null,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP49\") {\n    return [null,null,MQTTmsg,null,null,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP15\") {\n    return [null,null,null,MQTTmsg,null,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP42\") {\n    return [null,null,null,null,MQTTmsg,null,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP84\") {\n    return [null,null,null,null,null,MQTTmsg,null,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP41\") {\n    return [null,null,null,null,null,null,MQTTmsg,null,WSmsg,DBmsg];\n}\nif (GPIO == \"GP78\") {\n    return [null,null,null,null,null,null,null,MQTTmsg,WSmsg,DBmsg];\n}\n","outputs":"10","noerr":0,"x":571.0000534057617,"y":614.4444351196289,"wires":[["7391fa6b.8bda54"],["8e7a3ae0.93efc8"],["4d8e8a96.ad89c4"],["83b67fee.6aee7"],["92d0ef50.f7215"],["2445efd5.fb12c"],["495b2e62.d1355"],["c1ae9d38.dec14"],["460757f6.416958"],["4d76c80f.d36e28"]]},{"id":"7c5aced9.096c9","type":"websocket in","z":"f80e3545.cd3708","name":"","server":"2feb7504.caf11a","client":"","x":174,"y":359,"wires":[["4237a0e8.6daab"]]},{"id":"a0d0b031.b0041","type":"mqtt in","z":"f80e3545.cd3708","name":"","topic":"tower/status/request","qos":"2","broker":"5808177d.cde9b8","x":175.11111450195312,"y":268.00001525878906,"wires":[["4237a0e8.6daab"]]},{"id":"4237a0e8.6daab","type":"function","z":"f80e3545.cd3708","name":"Query Tower00 Status","func":"var myMsg = {};\nvar query = { device: 'tower00' };\nmyMsg.payload = query;\nreturn myMsg;","outputs":1,"noerr":0,"x":432,"y":317,"wires":[["36053430.044d2c"]]},{"id":"36053430.044d2c","type":"mongodb in","z":"f80e3545.cd3708","mongodb":"b80e2c1a.7887b","name":"","collection":"status","operation":"find","x":696,"y":317,"wires":[["f67e3b3e.1ed9a8","110ff24f.c9788e"]]},{"id":"110ff24f.c9788e","type":"mqtt out","z":"f80e3545.cd3708","name":"","topic":"tower/status/report","qos":"","retain":"","broker":"5808177d.cde9b8","x":977,"y":405,"wires":[]},{"id":"f67e3b3e.1ed9a8","type":"websocket out","z":"f80e3545.cd3708","name":"","server":"2b4ae781.ff7e18","client":"","x":971,"y":219,"wires":[]}]