node-red/flow.txt
[{"id":"c0117629.7da1e8","type":"inject","z":"576a6503.0a62ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":693,"wires":[["61c72fcb.5e79a"]]},{"id":"61c72fcb.5e79a","type":"mqtt out","z":"576a6503.0a62ac","name":"ETS","topic":"eddy2/cmd","qos":"0","retain":"","broker":"e146cf6c.2accd","x":542,"y":706,"wires":[]},{"id":"7cfe0ca9.59eb84","type":"mraa-gpio-ain","z":"576a6503.0a62ac","name":"Temperature - raw","pin":"0","interval":"5000","x":111,"y":606,"wires":[["6d8eb8aa.6afb18"]]},{"id":"46cd254c.58805c","type":"mraa-gpio-din","z":"576a6503.0a62ac","name":"Button","pin":"4","interrupt":"b","x":124,"y":50,"wires":[["54315a7e.05ba24","1b4771e1.cab81e","544fb98e.6dff18"]]},{"id":"54315a7e.05ba24","type":"mraa-gpio-dout","z":"576a6503.0a62ac","name":"LED","pin":"6","set":"","level":"0","x":380,"y":238,"wires":[]},{"id":"23e02796.5d62a8","type":"mraa-gpio-din","z":"576a6503.0a62ac","name":"Touch","pin":"3","interrupt":"b","x":98,"y":396,"wires":[["54315a7e.05ba24","1b4771e1.cab81e","9a3d92c5.94236"]]},{"id":"4e953c02.3c9804","type":"mqtt in","z":"576a6503.0a62ac","name":"Eddy2 LED","topic":"eddy2/led","qos":"2","broker":"e146cf6c.2accd","x":93,"y":287,"wires":[["54315a7e.05ba24"]]},{"id":"1b4771e1.cab81e","type":"mqtt out","z":"576a6503.0a62ac","name":"eddy2 button","topic":"eddy2/button","qos":"","retain":"","broker":"e146cf6c.2accd","x":634,"y":256,"wires":[]},{"id":"6d8eb8aa.6afb18","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"1edc40ee.350cdf","client":"","x":522,"y":603,"wires":[]},{"id":"544fb98e.6dff18","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"7e36d3f6.3c05ac","client":"","x":579,"y":54,"wires":[]},{"id":"9a3d92c5.94236","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"3bb40160.9e63ce","client":"","x":493,"y":447,"wires":[]},{"id":"e749e639.631e78","type":"websocket in","z":"576a6503.0a62ac","name":"","server":"bf29d472.f651a8","client":"","x":81,"y":192,"wires":[["49f25fe0.72599","54315a7e.05ba24"]]},{"id":"435448ea.caecd8","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"31c96133.b93c3e","client":"","x":484,"y":524,"wires":[]},{"id":"49f25fe0.72599","type":"debug","z":"576a6503.0a62ac","name":"","active":true,"console":"false","complete":"false","x":436,"y":116,"wires":[]},{"id":"e146cf6c.2accd","type":"mqtt-broker","z":"","broker":"192.168.2.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1edc40ee.350cdf","type":"websocket-listener","z":"","path":"/ws/temperature","wholemsg":"false"},{"id":"7e36d3f6.3c05ac","type":"websocket-listener","z":"","path":"/ws/button1","wholemsg":"false"},{"id":"3bb40160.9e63ce","type":"websocket-listener","z":"","path":"/ws/touch1","wholemsg":"false"},{"id":"bf29d472.f651a8","type":"websocket-listener","z":"","path":"/ws/led1","wholemsg":"false"},{"id":"31c96133.b93c3e","type":"websocket-listener","z":"","path":"/ws/led1/status","wholemsg":"false"}]
