node-red/flows_eddy2.json
[{"id":"576a6503.0a62ac","type":"tab","label":"Flow 1"},{"id":"88902eb1.463ef","type":"tab","label":"Flow 7"},{"id":"a5f18a0e.789a48","type":"subflow","name":"Subflow 1","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[{"id":"a5f18a0e.789a48","port":0}]}]},{"id":"e8ec99ee.7399f8","type":"nodebot","z":"","name":"Local","username":"","password":"","boardType":"galileo-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"e146cf6c.2accd","type":"mqtt-broker","z":"","broker":"192.168.2.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ee4a9e64.c56c4","type":"mqtt-broker","z":"","broker":"192.168.2.138","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"be3fc09b.523a4","type":"websocket-client","z":"","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"9b141fb.0d240e","type":"websocket-client","z":"","path":"ws://192.168.2.2:3001/echo","wholemsg":"true"},{"id":"7e36d3f6.3c05ac","type":"websocket-listener","z":"","path":"/ws/button1","wholemsg":"false"},{"id":"eeb53cf7.39fd7","type":"socketio-config","z":"","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"1edc40ee.350cdf","type":"websocket-listener","z":"","path":"/ws/temperature","wholemsg":"false"},{"id":"3bb40160.9e63ce","type":"websocket-listener","z":"","path":"/ws/touch1","wholemsg":"false"},{"id":"bf29d472.f651a8","type":"websocket-listener","z":"","path":"/ws/led1","wholemsg":"false"},{"id":"31c96133.b93c3e","type":"websocket-listener","z":"","path":"/ws/led1/status","wholemsg":"false"},{"id":"bf937.794eb6c98","type":"websocket-listener","z":"","path":"/ws/relay1","wholemsg":"false"},{"id":"25e25395.4caccc","type":"websocket-listener","z":"","path":"/ws/relay1/status","wholemsg":"false"},{"id":"bcc2e8e3.8f55c8","type":"mongodb","z":"","hostname":"192.168.2.40","port":"27017","db":"eddy2","name":"Snowbank - Eddy2"},{"id":"c0117629.7da1e8","type":"inject","z":"576a6503.0a62ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":98,"y":693,"wires":[["61c72fcb.5e79a"]]},{"id":"61c72fcb.5e79a","type":"mqtt out","z":"576a6503.0a62ac","name":"ETS","topic":"eddy2/cmd","qos":"0","retain":"","broker":"e146cf6c.2accd","x":542,"y":706,"wires":[]},{"id":"7cfe0ca9.59eb84","type":"mraa-gpio-ain","z":"576a6503.0a62ac","name":"Temperature - raw","pin":"0","interval":"5000","x":111,"y":606,"wires":[["6d8eb8aa.6afb18"]]},{"id":"46cd254c.58805c","type":"mraa-gpio-din","z":"576a6503.0a62ac","name":"Button","pin":"4","interrupt":"b","x":124,"y":50,"wires":[["54315a7e.05ba24","1b4771e1.cab81e","544fb98e.6dff18"]]},{"id":"54315a7e.05ba24","type":"mraa-gpio-dout","z":"576a6503.0a62ac","name":"LED","pin":"6","set":"","level":"0","x":380,"y":238,"wires":[]},{"id":"23e02796.5d62a8","type":"mraa-gpio-din","z":"576a6503.0a62ac","name":"Touch","pin":"3","interrupt":"b","x":98,"y":396,"wires":[["54315a7e.05ba24","1b4771e1.cab81e","9a3d92c5.94236"]]},{"id":"4e953c02.3c9804","type":"mqtt in","z":"576a6503.0a62ac","name":"Eddy2 LED","topic":"eddy2/led","qos":"2","broker":"e146cf6c.2accd","x":93,"y":287,"wires":[["54315a7e.05ba24"]]},{"id":"1b4771e1.cab81e","type":"mqtt out","z":"576a6503.0a62ac","name":"eddy2 button","topic":"eddy2/button","qos":"","retain":"","broker":"e146cf6c.2accd","x":634,"y":256,"wires":[]},{"id":"6d8eb8aa.6afb18","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"1edc40ee.350cdf","client":"","x":522,"y":603,"wires":[]},{"id":"544fb98e.6dff18","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"7e36d3f6.3c05ac","client":"","x":579,"y":54,"wires":[]},{"id":"9a3d92c5.94236","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"3bb40160.9e63ce","client":"","x":493,"y":447,"wires":[]},{"id":"e749e639.631e78","type":"websocket in","z":"576a6503.0a62ac","name":"","server":"bf29d472.f651a8","client":"","x":81,"y":192,"wires":[["49f25fe0.72599","54315a7e.05ba24"]]},{"id":"435448ea.caecd8","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"31c96133.b93c3e","client":"","x":484,"y":524,"wires":[]},{"id":"49f25fe0.72599","type":"debug","z":"576a6503.0a62ac","name":"","active":true,"console":"false","complete":"false","x":436,"y":116,"wires":[]},{"id":"cb045bf7.1612a8","type":"mraa-gpio-dout","z":"576a6503.0a62ac","name":"Relay","pin":"2","set":false,"level":"0","x":471,"y":801,"wires":[]},{"id":"dd8022ed.36e86","type":"websocket in","z":"576a6503.0a62ac","name":"","server":"bf937.794eb6c98","client":"","x":136,"y":786,"wires":[["cb045bf7.1612a8","480504c5.63a8bc"]]},{"id":"be2dcee9.c5a71","type":"mqtt in","z":"576a6503.0a62ac","name":"","topic":"eddy2/relay/set","qos":"2","broker":"e146cf6c.2accd","x":134,"y":866,"wires":[["cb045bf7.1612a8","480504c5.63a8bc"]]},{"id":"34d1a60b.37415a","type":"mraa-gpio-din","z":"576a6503.0a62ac","name":"Relay In","pin":"2","interrupt":"b","x":128,"y":948,"wires":[["200a9508.ea13ba","c6e57155.fbb07","41de9157.d033"]]},{"id":"200a9508.ea13ba","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"25e25395.4caccc","client":"","x":448,"y":918,"wires":[]},{"id":"c6e57155.fbb07","type":"mqtt out","z":"576a6503.0a62ac","name":"","topic":"eddy2/relay1/status","qos":"","retain":"","broker":"e146cf6c.2accd","x":457,"y":983,"wires":[]},{"id":"480504c5.63a8bc","type":"debug","z":"576a6503.0a62ac","name":"","active":true,"console":"false","complete":"false","x":464,"y":756,"wires":[]},{"id":"41de9157.d033","type":"debug","z":"576a6503.0a62ac","name":"","active":true,"console":"false","complete":"false","x":450,"y":855,"wires":[]},{"id":"7aa1a8bb.09c678","type":"function","z":"88902eb1.463ef","name":"Time","func":"var now = new Date();\nvar seconds = now.getSeconds();\nvar minutes = now.getMinutes();\nif (parseInt(seconds) < 10)\n    seconds = \"0\" + seconds;\nif (parseInt(minutes) < 10)\n    minutes = \"0\" + minutes;\nvar time = now.getHours() + \":\" + minutes + \":\" + seconds;\nvar json = {};\njson.msg2 = time;\njson.msg1 = \"Time is:\"\njson.R = 0;\njson.G = 200;\njson.B = 20;\nmsg.payload = json;\nreturn msg;","outputs":1,"noerr":0,"x":597.9573631286621,"y":168.5795135498047,"wires":[["3cf736ed.89b96a","b77d3bca.211228"]]},{"id":"361a03c6.52134c","type":"inject","z":"88902eb1.463ef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":255.96308517456055,"y":170.67611694335938,"wires":[["7aa1a8bb.09c678"]]},{"id":"3cf736ed.89b96a","type":"mqtt out","z":"88902eb1.463ef","name":"","topic":"eddy2/lcd","qos":"","retain":"","broker":"e146cf6c.2accd","x":880.9573211669922,"y":92.8892011642456,"wires":[]},{"id":"b77d3bca.211228","type":"debug","z":"88902eb1.463ef","name":"","active":false,"console":"false","complete":"false","x":886.9516372680664,"y":246.26419639587402,"wires":[]},{"id":"3095f837.108948","type":"debug","z":"88902eb1.463ef","name":"","active":true,"console":"false","complete":"false","x":820.9514999389648,"y":429.07666778564453,"wires":[]},{"id":"f9a60e.a88b19f","type":"inject","z":"88902eb1.463ef","name":"","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":109.95169448852539,"y":366.66757583618164,"wires":[["d275d67c.3f99f8"]]},{"id":"719cf612.a71148","type":"mqtt out","z":"88902eb1.463ef","name":"","topic":"eddy2/lcd","qos":"","retain":"","broker":"e146cf6c.2accd","x":861.9516754150391,"y":351.3409118652344,"wires":[]},{"id":"d275d67c.3f99f8","type":"http request","z":"88902eb1.463ef","name":"ESPEasy Temperature","method":"GET","ret":"obj","url":"http://192.168.2.192/json","tls":"","x":294.9516372680664,"y":320.11358165740967,"wires":[["f3d93f88.0f7e9"]]},{"id":"f3d93f88.0f7e9","type":"function","z":"88902eb1.463ef","name":"get Temperature","func":"var newMsg =  { \n    payload: {\n        msg1: \"Temp. Outside\",\n        msg2: (msg.payload.Sensors[0].Temperature).toString(),\n        R: 100,\n        G: 50,\n        B:50\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":568.9545364379883,"y":307.03692626953125,"wires":[["3095f837.108948","719cf612.a71148"]]},{"id":"35b5294a.43a596","type":"mongodb out","z":"88902eb1.463ef","mongodb":"bcc2e8e3.8f55c8","name":"save to test","collection":"test","payonly":false,"upsert":true,"multi":true,"operation":"update","x":714.951545715332,"y":545.0823450088501,"wires":[]},{"id":"44662cbe.6265f4","type":"function","z":"88902eb1.463ef","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":514.9602241516113,"y":417.9374542236328,"wires":[["35b5294a.43a596"]]},{"id":"66e07dc8.2adf94","type":"inject","z":"88902eb1.463ef","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":94.96306991577148,"y":568.6761722564697,"wires":[["88d1dbf6.118598"]]},{"id":"40b72899.c193c8","type":"mongodb in","z":"88902eb1.463ef","mongodb":"bcc2e8e3.8f55c8","name":"Find","collection":"status","operation":"find","x":454.96302795410156,"y":592.6335144042969,"wires":[["77a1082c.3dbe48"]]},{"id":"77a1082c.3dbe48","type":"debug","z":"88902eb1.463ef","name":"","active":true,"console":"false","complete":"false","x":687.9602203369141,"y":608.1732482910156,"wires":[]},{"id":"88d1dbf6.118598","type":"function","z":"88902eb1.463ef","name":"Query","func":"var myMsg = {};\nvar query = { device: 'outlet2' };\nmyMsg.payload = query;\nreturn myMsg;","outputs":1,"noerr":0,"x":257.96022033691406,"y":544.8493957519531,"wires":[["40b72899.c193c8"]]}]