node-red/flows_eddy2.json
[{"id":"576a6503.0a62ac","type":"tab","label":"Flow 1"},{"id":"88902eb1.463ef","type":"tab","label":"LCD Logic"},{"id":"a5f18a0e.789a48","type":"subflow","name":"Subflow 1","info":"","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[{"id":"a5f18a0e.789a48","port":0}]}]},{"id":"e8ec99ee.7399f8","type":"nodebot","z":"","name":"Local","username":"","password":"","boardType":"galileo-io","serialportName":"","connectionType":"local","mqttServer":"","socketServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","meshbluServer":"https://meshblu.octoblu.com","uuid":"","token":"","sendUuid":""},{"id":"e146cf6c.2accd","type":"mqtt-broker","z":"","broker":"192.168.2.20","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"be3fc09b.523a4","type":"websocket-client","z":"","path":"wss://echo.websocket.org","wholemsg":"false"},{"id":"9b141fb.0d240e","type":"websocket-client","z":"","path":"ws://192.168.2.2:3001/echo","wholemsg":"true"},{"id":"7e36d3f6.3c05ac","type":"websocket-listener","z":"","path":"/ws/lcd","wholemsg":"false"},{"id":"eeb53cf7.39fd7","type":"socketio-config","z":"","port":"80","sendClient":"true","path":"/socket.io","bindToNode":true},{"id":"1edc40ee.350cdf","type":"websocket-listener","z":"","path":"/ws/temperature","wholemsg":"false"},{"id":"3bb40160.9e63ce","type":"websocket-listener","z":"","path":"/ws/touch1","wholemsg":"false"},{"id":"bf29d472.f651a8","type":"websocket-listener","z":"","path":"/ws/led1","wholemsg":"false"},{"id":"31c96133.b93c3e","type":"websocket-listener","z":"","path":"/ws/led1/status","wholemsg":"false"},{"id":"bf937.794eb6c98","type":"websocket-listener","z":"","path":"/ws/relay1","wholemsg":"false"},{"id":"25e25395.4caccc","type":"websocket-listener","z":"","path":"/ws/relay1/status","wholemsg":"false"},{"id":"bcc2e8e3.8f55c8","type":"mongodb","z":"","hostname":"192.168.2.40","port":"27017","db":"UpcycleIt","name":"Snowbank - Eddy2"},{"id":"c7459aaa.71b128","type":"websocket-listener","z":"","path":"/ws/button1","wholemsg":"false"},{"id":"7cfe0ca9.59eb84","type":"mraa-gpio-ain","z":"576a6503.0a62ac","name":"Temperature - raw","pin":"0","interval":"5000","x":148.14285278320312,"y":593.1428470611572,"wires":[["36ff0519.38028a"]]},{"id":"46cd254c.58805c","type":"mraa-gpio-din","z":"576a6503.0a62ac","name":"Button","pin":"4","interrupt":"b","x":124,"y":50,"wires":[["54315a7e.05ba24","1b4771e1.cab81e","a1677586.968ab8"]]},{"id":"54315a7e.05ba24","type":"mraa-gpio-dout","z":"576a6503.0a62ac","name":"LED","pin":"6","set":"","level":"0","x":380,"y":238,"wires":[]},{"id":"23e02796.5d62a8","type":"mraa-gpio-din","z":"576a6503.0a62ac","name":"Touch","pin":"3","interrupt":"b","x":98,"y":396,"wires":[["54315a7e.05ba24","1b4771e1.cab81e","9a3d92c5.94236"]]},{"id":"4e953c02.3c9804","type":"mqtt in","z":"576a6503.0a62ac","name":"Eddy2 LED","topic":"eddy2/led","qos":"2","broker":"e146cf6c.2accd","x":93,"y":287,"wires":[["54315a7e.05ba24"]]},{"id":"1b4771e1.cab81e","type":"mqtt out","z":"576a6503.0a62ac","name":"eddy2 button","topic":"eddy2/button","qos":"","retain":"","broker":"e146cf6c.2accd","x":634,"y":256,"wires":[]},{"id":"6d8eb8aa.6afb18","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"1edc40ee.350cdf","client":"","x":747.535774230957,"y":605.3214206695557,"wires":[]},{"id":"9a3d92c5.94236","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"3bb40160.9e63ce","client":"","x":493,"y":447,"wires":[]},{"id":"e749e639.631e78","type":"websocket in","z":"576a6503.0a62ac","name":"","server":"bf29d472.f651a8","client":"","x":81,"y":192,"wires":[["49f25fe0.72599","54315a7e.05ba24"]]},{"id":"49f25fe0.72599","type":"debug","z":"576a6503.0a62ac","name":"","active":false,"console":"false","complete":"false","x":436,"y":116,"wires":[]},{"id":"3095f837.108948","type":"debug","z":"88902eb1.463ef","name":"","active":false,"console":"false","complete":"false","x":883.951358795166,"y":631.07666015625,"wires":[]},{"id":"f9a60e.a88b19f","type":"inject","z":"88902eb1.463ef","name":"","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":false,"x":82.95168685913086,"y":258.66755199432373,"wires":[["975d3718.614b38"]]},{"id":"719cf612.a71148","type":"mqtt out","z":"88902eb1.463ef","name":"","topic":"eddy2/lcd","qos":"","retain":"","broker":"e146cf6c.2accd","x":879.9515571594238,"y":564.3409805297852,"wires":[]},{"id":"d275d67c.3f99f8","type":"http request","z":"88902eb1.463ef","name":"ESPEasy Temperature","method":"GET","ret":"obj","url":"http://192.168.2.192/json","tls":"","x":403.951602935791,"y":564.1135749816895,"wires":[["f3d93f88.0f7e9"]]},{"id":"f3d93f88.0f7e9","type":"function","z":"88902eb1.463ef","name":"get Temperature","func":"var newMsg =  { \n    payload: {\n        msg1: \"Temp. Outside\",\n        msg2: (msg.payload.Sensors[0].Temperature).toString(),\n        R: 100,\n        G: 50,\n        B:50\n    }\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":659.9544830322266,"y":565.0369529724121,"wires":[["3095f837.108948","719cf612.a71148"]]},{"id":"1ff8cda5.8d4952","type":"websocket in","z":"88902eb1.463ef","name":"","server":"7e36d3f6.3c05ac","client":"","x":113.95454406738281,"y":94.19601440429688,"wires":[["470ba1a4.fbcfa","333609a7.b91336"]]},{"id":"a5f0b0d1.abf31","type":"mongodb out","z":"88902eb1.463ef","mongodb":"bcc2e8e3.8f55c8","name":"Update LCD entry in devices","collection":"status","payonly":false,"upsert":true,"multi":false,"operation":"update","x":608.9545135498047,"y":41.809661865234375,"wires":[]},{"id":"cc37e443.901c48","type":"mqtt out","z":"88902eb1.463ef","name":"","topic":"eddy2/lcd/refresh","qos":"","retain":"","broker":"e146cf6c.2accd","x":819.9545059204102,"y":92.80681037902832,"wires":[]},{"id":"ddc4ddf1.4646b","type":"delay","z":"88902eb1.463ef","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":622.957275390625,"y":93.57950782775879,"wires":[["cc37e443.901c48"]]},{"id":"7fa3d3ae.b9b39c","type":"mqtt in","z":"88902eb1.463ef","name":"","topic":"eddy2/lcd/refresh","qos":"2","broker":"e146cf6c.2accd","x":85.95452880859375,"y":470.94032859802246,"wires":[["975d3718.614b38"]]},{"id":"975d3718.614b38","type":"function","z":"88902eb1.463ef","name":"Build LCD Query","func":"var myMsg = {};\nvar query = { device: 'eddy2', control: 'lcd1' };\nmyMsg.payload = query;\nreturn myMsg;","outputs":1,"noerr":0,"x":123.960205078125,"y":367.84657287597656,"wires":[["de0ee90d.eb3168","83a5fdb5.2332d"]]},{"id":"d3920519.59dca8","type":"function","z":"88902eb1.463ef","name":"Select","func":"var state = msg.payload[0].state;\nif (state == \"outside temperature\") {\n    return [null,msg];    \n}\n\nif (state == \"custom\") {\n    var newMsg = {payload: msg.payload[0].custom };\n    return [newMsg,null];\n}\n\nif (state == \"time\") {\n    var now = new Date();\n    var mins = now.getMinutes();\n    if (parseInt(mins) < 10) {\n        mins = \"0\" + mins;\n    }\n    var nowDate = now.getMonth() + \"/\" + now.getDate() + \"/\" + now.getFullYear();\n    var nowTime = now.getHours() + \":\" + mins;\n    var newMsg = { \n        payload: {\n            msg1: nowDate,\n            msg2: nowTime,\n            R:50,\n            G:100,\n            B:50\n            \n        } };\n    return [newMsg,null];\n}","outputs":"2","noerr":0,"x":383.9630126953125,"y":386.85219383239746,"wires":[["f562e09a.b6524","2bbc8bef.106474"],["d275d67c.3f99f8"]]},{"id":"de0ee90d.eb3168","type":"mongodb in","z":"88902eb1.463ef","mongodb":"bcc2e8e3.8f55c8","name":"Find LCD current function","collection":"status","operation":"find","x":303.9545669555664,"y":267.6363067626953,"wires":[["53f808e7.0329c8","d3920519.59dca8"]]},{"id":"6c4727a5.4a2ef8","type":"mqtt out","z":"88902eb1.463ef","name":"","topic":"eddy2/lcd/refresh","qos":"","retain":"","broker":"e146cf6c.2accd","x":525.9602127075195,"y":167.70451164245605,"wires":[]},{"id":"29bb509d.763a4","type":"inject","z":"88902eb1.463ef","name":"20 Second refresh","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":163.95737838745117,"y":167.67329216003418,"wires":[["6c4727a5.4a2ef8"]]},{"id":"2bbc8bef.106474","type":"mqtt out","z":"88902eb1.463ef","name":"","topic":"eddy2/lcd","qos":"","retain":"","broker":"e146cf6c.2accd","x":620.9545097351074,"y":366.6135902404785,"wires":[]},{"id":"53f808e7.0329c8","type":"debug","z":"88902eb1.463ef","name":"","active":false,"console":"false","complete":"false","x":552.9602203369141,"y":259.991455078125,"wires":[]},{"id":"f562e09a.b6524","type":"debug","z":"88902eb1.463ef","name":"","active":false,"console":"false","complete":"false","x":630.9544677734375,"y":418.9801025390625,"wires":[]},{"id":"dda205a2.d50808","type":"debug","z":"88902eb1.463ef","name":"","active":false,"console":"false","complete":"true","x":762.9602203369141,"y":158.9829559326172,"wires":[]},{"id":"a1677586.968ab8","type":"websocket out","z":"576a6503.0a62ac","name":"","server":"c7459aaa.71b128","client":"","x":670.9573516845703,"y":61.241477966308594,"wires":[]},{"id":"470ba1a4.fbcfa","type":"function","z":"88902eb1.463ef","name":"","func":"var jMsg = JSON.parse(msg.payload);\nvar state = jMsg.state;\nvar lcd1 = {\n    query: { \n        device: \"eddy2\", \n        control: \"lcd1\"\n    },\n    payload: { \n        device: \"eddy2\", \n        control: \"lcd1\",\n        state: state,\n        custom: {\n            msg1: jMsg.msg1,\n            msg2: jMsg.msg2,\n            R: jMsg.R,\n            G: jMsg.G,\n            B: jMsg.B\n        }\n    }\n};\nreturn lcd1;","outputs":1,"noerr":0,"x":324.95455169677734,"y":78.7613582611084,"wires":[["a5f0b0d1.abf31","dda205a2.d50808","ddc4ddf1.4646b"]]},{"id":"333609a7.b91336","type":"debug","z":"88902eb1.463ef","name":"","active":false,"console":"false","complete":"false","x":307.96022033691406,"y":27.988632202148438,"wires":[]},{"id":"83a5fdb5.2332d","type":"debug","z":"88902eb1.463ef","name":"","active":false,"console":"false","complete":"false","x":309.99999999999994,"y":435.71428571428567,"wires":[]},{"id":"418aadfe.e22ad4","type":"mqtt out","z":"576a6503.0a62ac","name":"","topic":"office/temperature/status","qos":"","retain":"","broker":"e146cf6c.2accd","x":764.6428985595703,"y":504.8214182853699,"wires":[]},{"id":"36ff0519.38028a","type":"function","z":"576a6503.0a62ac","name":"Temperature - formatted","func":"var retMsg = {};\nvar a = msg.payload;\nvar B = 4275;\nvar R = (1023.0/a - 1.0) * 100000.0;\nvar tC = 1.0 / (Math.log(R/100000.0) / B + 1 /298.15) - 273.15;\nvar tF = Math.round((tC * 9 / 5 + 32) * 100) / 100;\nretMsg.payload = {\n    tempC: Math.round(tC * 100) /100,\n    tempF: tF\n}\n\nreturn retMsg;","outputs":1,"noerr":0,"x":413.2143020629883,"y":589.6428918838501,"wires":[["418aadfe.e22ad4","6d8eb8aa.6afb18"]]}]